appdirs==1.4.4
attrs==22.2.0
autocommand==2.2.2
cffi==1.15.1
cryptography==39.0.0
Cython==0.29.33
fastjsonschema==2.16.2
inflect==6.0.2
jaraco.context==4.2.0
jaraco.functools==3.5.2
jaraco.text==3.11.0
jarowinkler==1.2.3
Levenshtein==0.20.9
more-itertools==9.0.0
ordered-set==4.1.0
packaging==21.3
ply==3.11
pycairo==1.23.0
pycparser==2.21
pydantic==1.10.4
PyGObject==3.42.2
pyinotify==0.9.6
pyparsing==3.0.9
PySimpleGUI==4.60.4
python-distutils-extra==2.39
pyxdg==0.28
rapidfuzz==2.13.7
team==1.0
tomli==2.0.1
trove-classifiers==2023.1.20
typing_extensions==4.4.0
ulauncher==0.0.0
validate-pyproject==0.12
websocket-client==1.4.2